.audio-control-bar {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    @media (max-width: 576px) {
        border-radius: 0px;
    }
}

.control {
    color: rgb(51, 51, 51);
    background-color: white;
    padding: 30px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    @media (max-width: 576px) {
    padding: 20px;
    }
}

.control:hover {
    color: purple;
    background-color: gold;
    cursor: pointer;
}

