.header .navbar {
    width: auto;
    font-family: $primary-font;
    background-color: $secondary-color;
    z-index: 100;
    max-width: 100vw;
}

.logo {
    fill: $primary-color;
    height: 52px;
}