
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

main {
    height: $content-height-desktop;
    position: relative;
    top: 78px;
    background: radial-gradient(rgba(157, 24, 184, 0.3), rgba(115, 116, 117, 0.9));
    @media (max-width: $smartphone-screensize) {
        height: $content-height-mobile;
        top: 64px;
    }
}

.no-padding-xs {
    @media (max-width: $smartphone-screensize) {
        padding-left: 0px;
        padding-right: 0px;
    }
}