.progress-display-bar {
    background-color: rgb(221, 221, 221);
    padding: 5px 15px;
}

.time-display {
    font-family: $secondary-font;
    color: rgb(51, 51, 51);
}

.full-progressbar {
    background-color: $primary-color;
    width: 100%;
    position: relative;
    border-bottom: 10px solid $secondary-color;
}

.time-line-progress {
    z-index: 200;
    position: absolute;
    border-bottom: 10px solid $primary-color;
}

