.song-info {
    font-family: "Francois One", sans-serif;
    color: white;
    background-color: darkmagenta;
}

#cover-image {
    height: 150px;
    width: 141px;
    background-image: url(../../src/img/placeholder.png);
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    margin: 20px;
}

.interpret {
    background-color: purple;
    padding: 10px;
    margin: 20px 20px 0px;
    @media (max-width: 576px) {
        margin: 10px 10px 0px;
    }
}

.title {
    font-size: 2.4rem;
    background: purple;
    padding: 10px;
    margin: 20px;
    @media (max-width: 576px) {
        font-size: 1.75rem;
        margin: 10px;
    }
}