//Colors
$white:                 white;
$primary-color:         purple;
$secondary-color:       gold;
$primary-background:    darkmagenta;
$light-background:      rgba(230, 230, 230, 0.5);
$dark-background:       rgba(85, 85, 85, 0.3);
$white-background:      $white;
$text-light:            $white;
$text-dark:             darkgrey;
$light-grey:            #ccc;


$primary-font: "Francois One", sans-serif;
$secondary-font: "Ubuntu", sans-serif;

/*extra small: <576 xs
*small: > 576 sm
*medium: > 720px md
*large: > 992px lg
*extra large > 1200 px */

$smartphone-screensize: 576px;

$content-height-desktop: calc(100vh - 78px);//oder 100%
$content-height-mobile: calc(100vh - 64px);//oder 100%

$playlist-height-desktop: calc((((((100vh - 78px) - 32px) - 193px) - 190px) - 75px) - 80px);
$playlist-height-mobile: calc(((((100vh - 64px) - 32px) - 153px) - 136px) - 55px);
